/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz@0,9..144;1,9..144&family=Manrope:wght@200..800&display=swap');

/* Josh Comeau's Custom CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --bg-dark-purle: hsl(273, 85%, 13%);
  --bg-eucaplyptus: hsl(150, 100%, 63%);
  --bg-davys-gray: hsl(271, 12%, 34%);
  --bg-ghost-white: hsl(274, 100%, 99%);
  --bg-white: hsl(0, 0%, 100%);

  --ff-headigs: 'Fraunces', serif;
  --ff-body: 'Manrope', sans-serif;
  --fc-dark-purle: hsl(273, 85%, 13%);
  --fc-eucaplyptus: hsl(150, 100%, 63%);
  --fc-white: hsl(0, 0%, 100%);
}

/* REUSABLE CLASSES */

/* headings */
.heading-lg {
  font-family: var(--ff-headigs);
  font-size: 5rem;
  font-weight: 600;
  line-height: 80px;
}

.heading-md {
  font-family: var(--ff-headigs);
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 64;
}

.heading-sm {
  font-family: var(--ff-headigs);
  font-size: 2rem;
  font-weight: 600;
  line-height: 40px;
}

/* containers */
.container {
  max-width: 69.625rem;
  margin: 0 auto;
  padding: 0 1rem;
}

/* logo */
.logo {
  width: 5.985rem;
  height: 1.538rem;
}

/* PAGE STYLING */
body {
  font-family: var(--ff-body);
  font-weight: 400;
  color: var(--fc-dark-purle);
  line-height: 32px;
  overflow-x: hidden;
}

/* header */
.header {
  background: var(--bg-dark-purle);
}

.container--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
}

/* hero */
.hero-section {
  background: var(--bg-dark-purle);
  margin-bottom: 16.562rem;
  position: relative;
}

.container--hero {
  text-align: center;
}

.hero-section__title {
  color: var(--fc-white);
  padding: 3.437rem 0 2.312rem 0;
}

.hero-section__btn {
  margin-bottom: 20.312rem;
}

.hero-section__img {
  height: 27.562rem;
  width: 47.937rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
/* COMPONENTS */

/* button components */
.btn {
  border: none;
  cursor: pointer;
}

.btn--primary {
  padding: 0.5rem 1.5rem;
  background: var(--bg-eucaplyptus);
  color: var(--fc-dark-purle);
  transition: all 0.3s;
}

.btn--primary:hover,
.btn--primary:active {
  padding: 0.5rem 1.5rem;
  background: var(--bg-dark-purle);
  color: var(--fc-eucaplyptus);
  outline: 1px solid var(--bg-eucaplyptus);
}

.btn--secondary {
  background: transparent;
  color: var(--fc-white);
  position: relative;
  transition: all 0.3s;
}

.btn--secondary::after {
  content: '';
  display: block;
  position: absolute;
  height: 3px;
  width: 124px;
  background: var(--bg-eucaplyptus);
}

.btn--secondary:hover,
.btn--secondary:active {
  color: var(--fc-eucaplyptus);
}

/* media queries */
@media (min-width: 30rem) {
  body::before {
    content: '';
    background: url(/assets/images/bg-pattern-1.svg);
    background-repeat: no-repeat;
    position: absolute;
    height: 317px;
    width: 341px;
    top: 7rem;
    left: -8.5rem;
    z-index: 1;
  }

  body::after {
    content: '';
    background: url(/assets/images/bg-pattern-2.svg);
    background-repeat: no-repeat;
    position: absolute;
    height: 181px;
    width: 174px;
    top: 10rem;
    right: -3rem;
    z-index: 1;
  }
}
