/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz@0,9..144;1,9..144&family=Manrope:wght@200..800&display=swap');

/* Josh Comeau's Custom CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* css variables */
:root {
  --dark-purle: hsl(273, 85%, 13%);
  --eucaplyptus: hsl(150, 100%, 63%);
  --davys-gray: hsl(271, 12%, 34%);
  --ghost-white: hsl(274, 100%, 99%);
  --white: hsl(0, 0%, 100%);

  --ff-headings: 'Fraunces', serif;
  --ff-body: 'Manrope', sans-serif;

  /* 50px → 80px */
  --fs-header-lg: clamp(3.125rem, 2.4648rem + 2.8169vi, 5rem);
  /* 32px → 56px */
  --fs-header-md: clamp(2rem, 1.4718rem + 2.2535vi, 3.5rem);
  /* 28px → 32px */
  --fs-header-sm: clamp(1.75rem, 1.662rem + 0.3756vi, 2rem);
  /* 16px → 18px */
  --fs-paragraph: clamp(1rem, 0.956rem + 0.1878vi, 1.125rem);

  /* 32px → 56px */
  --space-header: clamp(2rem, 1.5714rem + 2.1429vi, 3.5rem);

  /* 157px → 326px */
  --space-hero-bottom: clamp(9.8125rem, 6.7946rem + 15.0893vi, 20.375rem);
  /* 323px → 363px */
  --space-hero-img: clamp(20.1875rem, 19.4732rem + 3.5714vi, 22.6875rem);

  /* 152px → 255px */
  --space-features-top: clamp(9.5rem, 7.6607rem + 9.1964vi, 15.9375rem);
  /* 72px → 171px */
  --space-features-bottom: clamp(4.5rem, 2.7321rem + 8.8393vi, 10.6875rem);

  /* 74px → 122px */
  --space-footer-top: clamp(4.625rem, 3.7679rem + 4.2857vi, 7.625rem);
  /* 63px → 110px */
  --space-footer-bottom: clamp(3.9375rem, 3.0982rem + 4.1964vi, 6.875rem);
}

/* REUSABLE STYLES */

/* headings */
.heading-lg {
  font-family: var(--ff-headings);
  font-size: var(--fs-header-lg);
  font-weight: 600;
}

.heading-md {
  font-family: var(--ff-headings);
  font-size: var(--fs-header-md);
  font-weight: 600;
}

.heading-sm {
  font-family: var(--ff-headings);
  font-size: var(--fs-header-sm);
  font-weight: 600;
}

/* containers */
.container {
  max-width: 69.5rem;
  padding-inline: 1rem;
  margin: 0 auto;
}

/* text decoration */
.underlined-text {
  position: relative;
  padding-bottom: 0.2rem;
  padding-inline: 0;
}

.underlined-text::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: var(--eucaplyptus);
}

/* PAGE STYLES */
body {
  font-family: var(--ff-body);
  font-size: var(--fs-text);
  color: var(--dark-purle);
  font-weight: 400;
  line-height: 1.75;
}

/* logo */
.logo {
  width: 5.985rem;
  height: 1.538rem;
}

/* header */
.header {
  background: var(--dark-purle);
}

.container--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--space-header);
}

/* hero */
.hero-section {
  text-align: center;
  background: var(--dark-purle);
  padding: 4rem 0 var(--space-hero-bottom) 0;
}

.hero-section__title {
  color: var(--white);
  margin-bottom: 2.5rem;
  line-height: 1.1;
}

.underlined-text--hero {
  padding: 0;
}

.hero-section__img {
  width: min(32.125rem, 86%);
  position: absolute;
  top: 24rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

/* features */
.features-section {
  padding-top: var(--space-features-top);
  padding-bottom: var(--space-features-bottom);
  background: var(--ghost-white);
  text-align: center;
}

.feature__number {
  font-family: var(--ff-headings);
  font-size: 1.25rem;
  font-weight: 600;
  height: 2.875rem;
  width: 3rem;
  border-radius: 50%;
  border: 1px solid var(--dark-purle);

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1.5rem;
}

.features-section__heading {
  margin-bottom: 1rem;
}

.container--features {
  display: grid;
  gap: 3.3125rem;
}

/* about */
.about-section {
  padding-top: 6.25rem;
}

.about-section__img {
  margin: 0 auto;
  width: 17.5625rem;
}

.about-section__content {
  background: var(--dark-purle);
  color: var(--white);
  text-align: center;

  padding: clamp(1.9375rem, 1.3839rem + 2.7679vi, 3.875rem); /* 31px → 62px */
  margin-top: -3.25rem;
  position: relative;
  z-index: 1;
}

.about-section__description {
  margin-bottom: 1.5rem;
}

/* footer */
.footer-section {
  padding-top: 4.625rem;
  padding-bottom: 4rem;
}

.footer__logo {
  margin: 0 auto;
  margin-bottom: 3.5625rem;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.75rem;
}

.social-links:hover,
.social-links:active {
  filter: brightness(0) saturate(100%) invert(4%) sepia(75%) saturate(4124%)
    hue-rotate(269deg) brightness(104%) contrast(104%);
}

/* buttons */
.btn {
  border: none;
  cursor: pointer;
}

.btn--primary {
  padding: 0.5rem 1.5rem;
  background: var(--eucaplyptus);
  color: var(--dark-purle);
  transition: all 0.3s;
}

.btn--primary:hover,
.btn--primary:active {
  padding: 0.5rem 1.5rem;
  background: var(--dark-purle);
  color: var(--eucaplyptus);
  outline: 1px solid var(--eucaplyptus);
}

.btn--secondary {
  background: transparent;
  color: var(--white);
  transition: all 0.3s;
}

.btn--secondary:hover,
.btn--secondary:active {
  color: var(--eucaplyptus);
}

/* media queries */
@media (min-width: 25em) {
  .container {
    padding-inline: 2.4375rem;
  }

  /* hero */
  .hero-section__title {
    max-width: 32rem;
    margin: 0 auto 2.5rem;
  }

  /* features */
  .features-section {
    text-align: left;
  }
  .feature {
    display: flex;
    align-items: center;
    gap: 2rem;
    max-width: 35.8126rem;
    margin: 0 auto;
  }
  .feature__number {
    flex-shrink: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 45em) {
  .container--features {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.625rem;
  }

  /* hero */
  .hero-section__img {
    width: min(47rem, 65%);
  }

  /* features */
  .feature {
    flex-direction: column;
    text-align: center;
  }

  /* hero image */
  .hero-section__img {
    top: 26rem;
  }

  /* about */
  .about-section__content {
    width: min(45.625rem, 70%);
    margin-left: auto;
    margin-top: -8rem;
    text-align: left;
    padding: 3.5rem;
  }
  .about-section__img {
    margin: 0;
  }
}

@media (min-width: 50em) {
  /* bg decorations */
  .hero-section {
    background-image: url(/assets/images/bg-pattern-1.svg),
      url(/assets/images/bg-pattern-2.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left -14rem top 0, right -5rem top 10rem;
  }

  .about-section__content {
    position: relative;
  }
  .about-section__content::after {
    content: '';
    background: url(/assets/images/bg-pattern-3.svg);
    height: 212px;
    width: 221px;
    position: absolute;
    right: 2rem;
    bottom: -5rem;
  }
}

@media (min-width: 62.5em) {
  /* about */
  .about-section__content {
    width: min(45.625rem, 63%);
    margin-top: -20rem;
  }
  .about-section__content .display-block {
    display: block;
  }
  .about-section__img {
    width: 29.8125rem;
  }
  /* hero decoration */
  .hero-section {
    background-position: left -9rem top 0, right -3rem top 10rem;
  }
  /* hero image */
  .hero-section__img {
    top: 30rem;
  }
}
