/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz@0,9..144;1,9..144&family=Manrope:wght@200..800&display=swap');

/* Josh Comeau's Custom CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --bg-dark-purle: hsl(273, 85%, 13%);
  --bg-eucaplyptus: hsl(150, 100%, 63%);
  --bg-davys-gray: hsl(271, 12%, 34%);
  --bg-ghost-white: hsl(274, 100%, 99%);
  --bg-white: hsl(0, 0%, 100%);

  --ff-headings: 'Fraunces', serif;
  --ff-body: 'Manrope', sans-serif;
  --fc-dark-purle: rgb(36, 5, 61);
  --fc-eucaplyptus: hsl(150, 100%, 63%);
  --fc-white: hsl(0, 0%, 100%);

  --fs-header-lg: clamp(3.13rem, 3.41vi + 2.27rem, 5rem);
  --fs-header-md: clamp(2rem, 2.73vi + 1.32rem, 3.5rem);
  --fs-header-sm: clamp(1.75rem, 0.45vi + 1.64rem, 2rem);
  --fs-buttons: clamp(1rem, 0.23vi + 0.94rem, 1.13rem);
  --fs-text: clamp(1rem, 0.23vi + 0.94rem, 1.13rem);
}

/* REUSABLE CLASSES */

/* headings */
.heading-lg {
  font-family: var(--ff-headings);
  font-size: var(--fs-header-lg);
  font-weight: 600;
  line-height: 80px;
}

.heading-md {
  font-family: var(--ff-headings);
  font-size: var(--fs-header-md);
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 64;
}

.heading-sm {
  font-family: var(--ff-headings);
  font-style: var(--fs-header-sm);
  font-size: 2rem;
  font-weight: 600;
  line-height: 40px;
}

/* containers */
.container {
  max-width: 69.625rem;
  margin: 0 auto;
  padding: 0 1rem;
}

/* logo */
.logo {
  width: 5.985rem;
  height: 1.538rem;
}

/* PAGE STYLING */
body {
  font-family: var(--ff-body);
  font-size: var(--fs-text);
  color: var(--fc-dark-purle);
  font-weight: 400;
  line-height: 32px;
}

/* header */
.header {
  background: var(--bg-dark-purle);
}

.container--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
}

/* hero */
.hero-section {
  text-align: center;
  background: var(--bg-dark-purle);
  position: relative;
}

/* .hero-section::after {
  content: '';
  background: url(/assets/images/wave.svg) no-repeat;
  height: 3rem;
  width: 100%;
  position: absolute;
  top: 25rem;
  left: 0;
} */

.hero-section__title {
  color: var(--fc-white);
  padding: 4rem 0 2.5rem 0;
  line-height: 1;
}

.hero-section__btn {
  margin-bottom: 9.8125rem;
}

.hero-section__img {
  height: 11.5rem;
  width: 20rem;
  position: absolute;
  top: 20.3125rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

/* features */
.features-section {
  padding-top: 10.8125rem;
  padding-bottom: 4.5rem;
  background: var(--bg-ghost-white);
  text-align: center;
}

.features-section .number {
  height: 46px;
  width: 48px;
  border-radius: 50%;
  border: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto 1.5rem;
}

.container--features {
  display: grid;
  gap: 1rem;
}

/* about */
.about-section__img {
  margin: 6.25rem auto 0;
  width: 17.5625rem;
}

.about-wrapper {
  background: var(--bg-dark-purle);
  color: var(--fc-white);
  padding: 2rem 1rem;
  text-align: center;
  margin-top: -3.25rem;
  margin-bottom: 4.375rem;
  position: relative;
  z-index: 1;
}

.about-description {
  margin-bottom: 1.5rem;
}

/* footer */
.footer-section {
  padding-bottom: 3.9375rem;
}

.footer__logo {
  margin: 0 auto;
  margin-bottom: 3.625rem;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.75rem;
}

.social-links:hover,
.social-links:active {
  filter: brightness(0) saturate(100%) invert(4%) sepia(75%) saturate(4124%)
    hue-rotate(269deg) brightness(104%) contrast(104%);
}

/* COMPONENTS */

/* button components */
.btn {
  border: none;
  cursor: pointer;
  font-size: var(--fs-buttons);
}

.btn--primary {
  padding: 0.5rem 1.5rem;
  background: var(--bg-eucaplyptus);
  color: var(--fc-dark-purle);
  transition: all 0.3s;
}

.btn--primary:hover,
.btn--primary:active {
  padding: 0.5rem 1.5rem;
  background: var(--bg-dark-purle);
  color: var(--fc-eucaplyptus);
  outline: 1px solid var(--bg-eucaplyptus);
}

.btn--secondary {
  background: transparent;
  color: var(--fc-white);
  position: relative;
  transition: all 0.3s;
}

.btn--secondary::after {
  content: '';
  display: block;
  position: absolute;
  height: 3px;
  width: 124px;
  background: var(--bg-eucaplyptus);
}

.btn--secondary:hover,
.btn--secondary:active {
  color: var(--fc-eucaplyptus);
}
